// KURSADUI RESET
/* RESET */
input,
select,
textarea,
button,
label {
  font-family: inherit;
}
* {
  box-sizing: border-box;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  pointer-events: none;
}

ul,
ol {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
